<td class='code'><label for='{{valueId}}'>{{name}}</label></td>
{{#unless isReadOnly}}
<td>

	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
			<div class="parameter-content-type" />
		{{else}}
			{{#if default}}
				<textarea class='body-textarea' name='{{name}}' id='{{valueId}}'>{{default}}</textarea>
        <br />
        <div class="parameter-content-type" />
			{{else}}
				<textarea class='body-textarea' name='{{name}}' id='{{valueId}}'></textarea>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
			<div class="parameter-content-type" />
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}

</td>
{{/unless}}
<td class="markdown">{{{description}}}</td>
<td>{{{paramType}}}</td>
<td>
	<span class="model-signature"></span>
</td>
<td class="code" {{#unless isReadOnly}} style="cursor: pointer;" onclick="$('[name=\'{{name}}\']').val('{{{x-mca-example}}}');" {{/unless}} >{{{x-mca-example}}}</td>
