<td class='code required'><label for='{{valueId}}'>{{name}}</label></td>
{{#unless isReadOnly}}
<td>
	{{#if isBody}}
		{{#if isFile}}
			<input type="file" name='{{name}}' id='{{valueId}}'/>
		{{else}}
			{{#if default}}
				<textarea class='body-textarea required' placeholder='(required)' name='{{name}}' id="{{valueId}}">{{default}}</textarea>
        <br />
        <div class="parameter-content-type" />
			{{else}}
				<textarea class='body-textarea required' placeholder='(required)' name='{{name}}' id='{{valueId}}'></textarea>
				<br />
				<div class="parameter-content-type" />
			{{/if}}
		{{/if}}
	{{else}}
		{{#if isFile}}
			<input class='parameter' class='required' type='file' name='{{name}}' id='{{valueId}}'/>
		{{else}}
			{{#renderTextParam this}}
			{{/renderTextParam}}
		{{/if}}
	{{/if}}
</td>
{{/unless}}
<td>
	<strong><span class="markdown">{{{description}}}</span></strong>
</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>
<td class="code" {{#unless isReadOnly}} style="cursor: pointer;" onclick="$('[name=\'{{name}}\']').val('{{{x-mca-example}}}');" {{/unless}} >{{{x-mca-example}}}</td>
