<td class='code'>{{name}}</td>
<td>
    {{#if isBody}}
        <textarea class='body-textarea' readonly='readonly' name='{{name}}'>{{default}}</textarea>
    {{else}}
        {{#if default}}
            {{default}}
        {{else}}
            (empty)
        {{/if}}
    {{/if}}
</td>
<td>{{{description}}}</td>
<td>{{{paramType}}}</td>
<td><span class="model-signature"></span></td>
<td class="code" {{#unless isReadOnly}} style="cursor: pointer;" onclick="$('[name=\'{{name}}\']').val('{{{x-mca-example}}}');" {{/unless}} >{{{x-mca-example}}}</td>
